h2 {
  color: var(--accent-color);
}

.banner-wrapper {
  position: relative;
  max-width: 400px;
  min-width: 300px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(transparent, black 90%);

  border-radius: 10px;
  overflow: hidden;
  margin: 20px 0;
}
.banner {
  position: relative;
  width: 100%;
  z-index: -1;
}

.time-info-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.time-info-wrapper p {
  font-size: small;
  text-align: center;
}
.download-btn {
  margin: 20px 0;
}
.old-price {
  text-decoration: line-through;
  text-decoration-color: var(--primary-color);
}
.new-price {
  color: #7b1fa2;
}
.mentors-wraper {
  display: flex;
  gap: 10px;
}
.mentors-wraper h4 {
  color: #7b1fa2;
}
.mentor-name {
  color: var(--accent-color);
}
.mentors p {
  max-width: 600px;
}
.actions {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
