<h2>{{ info?.title }}</h2>
<h3>{{ info?.subtitle }}</h3>
<div class="banner-wrapper">
  <img class="banner" src="{{ info?.imgUrl }}" alt="banner" />
  <div class="time-info-wrapper">
    <p>20 ლექცია</p>
    <p>კვირაში 2-ჯერ</p>
    <p>დრო: 20:00-23:00</p>
  </div>
</div>
<h3>
  ღირებულება: <span class="old-price">{{ oldPrice }}₾</span> -
  <span class="new-price">{{ info?.price }}₾</span>
</h3>
<br />
<div class="actions">
  <button mat-flat-button color="primary">
    სილაბუსი<mat-icon>download</mat-icon>
  </button>
  <button mat-flat-button color="primary">
    რეგისტრაცია<mat-icon>app_registration</mat-icon>
  </button>
</div>
<br />
<br />

<div class="mentors-wraper">
  <h4>მენტორები:</h4>
  <div class="mentors">
    <p *ngFor="let ment of info?.mentors">
      <strong class="mentor-name">{{ ment.name }}</strong> -
      {{ ment.profession }}
    </p>
  </div>
</div>
