<footer>
  <div class="mail">
    <button mat-button>
      <mat-icon>mail</mat-icon>
      <a href="mailto:designprintacademy@gmail.com"
        >designprintacademy@gmail.com</a
      >
    </button>
  </div>
  <div class="icons">
    <button mat-icon-button><i class="bi bi-youtube"></i></button>
    <button mat-icon-button><i class="bi bi-facebook"></i></button>
    <button mat-icon-button><i class="bi bi-instagram"></i></button>
    <button mat-icon-button><i class="bi bi-linkedin"></i></button>
  </div>
</footer>
