<main>
  <section class="main-section">
    <h1>ისწავლე თეორიული & ბეჭდური სამყაროს შესახებ ყველაფერი</h1>
    <ul>
      <li>პრე-პრესის ოპერატორის სპეციალობა</li>
      <li>გრაფიკული დიზაინი</li>
      <li>ტექნიკური დიზაინი</li>
    </ul>
    <button
      class="btn more"
      mat-raised-button
      color="primary"
      onclick=""
      [routerLink]="['/courses']"
    >
      გაიგე მეტი
    </button>
    <form action="">
      <input type="text" name="search" id="search" placeholder="ძებნა" />
    </form>
  </section>
  <aside>
    <iframe
      id="video-player"
      src="https://www.youtube.com/embed/S03T47hapAc"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
  </aside>
</main>

<app-footer></app-footer>
