.dash-wrap {
  display: flex;
}
aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  padding-top: 80px;
  gap: 40px;
}
h2 {
  border: none !important;
  border-bottom: 2px solid !important;
  color: #db00ff !important;
}

.btn {
  width: 220px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
}
div.btn {
  cursor: pointer;

  &:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-out;
    font-size: 24px;
    font-weight: 900;
  }
}

.btn-fill {
  color: black;
  font-weight: bolder;
  font-size: larger;
  background: #d9d9d9;
}

.active {
  outline: 5px solid #db00ff;
}
.inactive {
  color: #d9d9d9;
  border: 2px solid #d9d9d9;
  background: none;
}
//
//
main {
  width: 100%;
  // min-height: 660px;
  display: flex;
  background-color: #d9d9d9;
  padding: 50px;
  color: black;
  font-weight: 600;
}
