$primary-color: #9c27b0;
// $primary-color: #c700ff;
$card-bg-color: #1f1e1c;

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  padding: 50px;
}

.card {
  width: 400px;
  height: 300px;
  transition: transform 0.1s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.02);
  }

  img {
    width: 130px;
    height: 160px;
    border: 3px solid #9c27b0;
    outline: 3px solid #1f1e1c;
  }

  mat-card-footer {
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: space-between;
    padding: 0 8px;
    background-color: #9c27b0;
  }

  &:nth-child(2) mat-card-footer {
    background-color: #6856e1;
  }
  &:nth-child(2) img {
    border-color: #6856e1;
  }
}

mat-card {
  border: 1px solid $primary-color;

  opacity: 0.8;
  background-color: $card-bg-color;
  background-image: linear-gradient($primary-color 1px, transparent 1px),
    linear-gradient(to right, $primary-color 1px, transparent 1px);
  background-size: 60px 50px;
  background-position: center;
}

mat-card-title,
mat-card-subtitle,
mat-card-footer {
  font-family: "BPG Nino Mtavruli", sans-serif !important;
}
