<header>
  <img
    [src]="'assets/DPA-logo-white.svg'"
    alt="logo"
    height="50px"
    routerLink=""
    class="logo"
  />
  <nav id="nav" class="nav-wraper">
    <ul>
      <li *ngFor="let el of navLinks">
        <a
          class="btn"
          href=""
          routerLink="{{ el.link }}"
          routerLinkActive="active-link"
          >{{ el.name }}</a
        >
      </li>
    </ul>
  </nav>
  <div class="burger">
    <button mat-icon-button (click)="burgerOnClick()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</header>
